/* Fonts */
@font-face {
  font-family: Barbie;
  src: url(fonts/Barbie-Font.ttf);
}

/* Use these custom variables... */
:root {
  --polka-bg-image: radial-gradient(rgb(255, 255, 255) 28.4%, transparent 28.4%),
    radial-gradient(rgb(255, 255, 255) 28.4%, transparent 28.4%);
  --polka-bg-position: 0px 0px, 80px 80px;
  --polka-bg-size: 160px 160px;
  --polka-bg-color: rgb(254, 169, 202);
}

.nav-tabs {
  --bs-nav-tabs-link-active-color: #fff;
  --bs-nav-tabs-link-active-bg: #d25099;
}

.nav {
  --bs-nav-link-color: #ffffff;
  --bs-nav-link-hover-color: #f9dd9a;
}

.nav-color {
  background-color: #d2509fb8; 
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* ...or add this class to an element */
body.main {
  background-image: radial-gradient(rgb(255, 255, 255) 28.4%, transparent 28.4%),
    radial-gradient(rgb(255, 255, 255) 28.4%, transparent 28.4%);
  background-position: 0px 0px, 80px 80px;
  background-size: 160px 160px;
  background-color: rgb(254, 169, 202);
  width: 100%;
}

.barbie-logo {
  width: 40%;
  height: auto;
  rotate: -7deg;
  transition: .5s;
}

.barbie-logo:hover {
  scale: 110%;
  cursor: pointer;
}

.barbie-font {
  font-family: Barbie;
}

.font-page-text {
  font-size: 150px;
}

/* Movie Countdown */
/* // requestAnimationFrame polyfill by Erik Möller; fixes from Paul Irish and Tino Zijdel
// http://paulirish.com/2011/requestanimationframe-for-smart-animating/
// https://gist.github.com/paulirish/1579671
// MIT license
// Modifications by T. H. Doan */
.no-select {
  cursor: default;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


#film-container {
  width: 100%;
  height: 100%;
  background: url("//res.cloudinary.com/thdoan/image/upload/v1509581279/countdown/film_grain-small.gif");
  background-size: cover;
}
#film-countdown,
#message-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#message-container {
  opacity: 0;
}
body.message #film-container {
  opacity: 0;
  transition: opacity 1.5s;
}
body.message #message-container {
  opacity: 1;
  transition: opacity 1.5s;
}
#numbers text {
  fill: black;
  font: bold 120px Arial, sans-serif;
  letter-spacing: -10px;
  opacity: 0;
}
.circle01 {
  fill: none;
  stroke: #111;
  stroke-width: 1.5px;
}
.circle02 {
  fill: none;
  stroke: rgba(0, 0, 0, 0.3);
  stroke-dasharray: 1 3200;
  stroke-width: 989;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.line01,
.line02 {
  stroke: #deedee;
}
.rectangle01 {
  fill: gray;
}

/*** END RADIO DIAL ***/

.animated-flicker {
  height: 100%;
  animation: flicker 3s 1;
  opacity: 0.2;
}
.animated-rotate {
  animation: rotate 1s 3;
}
#animated-text1 {
  animation: countdown 1s 1;
  animation-delay: 0s;
}
#animated-text2 {
  animation: countdown 1s 1;
  animation-delay: 1s;
}
#animated-text3 {
  animation: countdown 1s 1;
  animation-delay: 2s;
}


@keyframes countdown {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.45;
  }
  10% {
    opacity: 0.7;
  }
  23% {
    opacity: 0.85;
  }
  30% {
    opacity: 0.4;
  }
  41% {
    opacity: 0.6;
  }
  46% {
    opacity: 0.8;
  }
  53% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.5;
  }
  79% {
    opacity: 0.55;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes rotate {
  100% {
    stroke-dasharray: 3200 0;
  }
}

/*  */
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5 ease-in-out;
  color: transparent;
  border: none !important;
}

.navbar-toggler, 
.navbar-toggler:focus,
.navbar-toggleractive,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  /* height of bar */
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* when clicked */

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* when navbar collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -17px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 18px;
  transform: rotate(0deg);
}

